
.flame-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flame-text {
  font-family: 'Cinzel', serif;
  font-weight: 900;
  font-size: 5rem;
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #29CEF2,
    0 0 82px #29CEF2,
    0 0 92px #29CEF2,
    0 0 102px #29CEF2,
    0 0 151px #29CEF2;
  animation: pulse 1.5s infinite alternate, flicker 5s infinite;
}

@keyframes pulse {
  0% {
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #29CEF2,
      0 0 80px #29CEF2,
      0 0 90px #29CEF2,
      0 0 100px #29CEF2,
      0 0 150px #29CEF2;
  }
  100% {
    text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 18px #fff,
      0 0 38px #29CEF2,
      0 0 73px #29CEF2,
      0 0 80px #29CEF2,
      0 0 94px #29CEF2,
      0 0 140px #29CEF2;
  }
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #29CEF2,
      0 0 80px #29CEF2,
      0 0 90px #29CEF2,
      0 0 100px #29CEF2,
      0 0 150px #29CEF2;
  }
  20%, 24%, 55% {
    text-shadow: none;
  }
}
