.fire-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 50vw;
  filter: blur(20px);
}

.flame {
  position: absolute;
  width: 25vw;
  height: 25vw;
  background: #29CEF2;
  border-radius: 50%;
  box-shadow: 0 0 40px #29CEF2, 0 0 80px #29CEF2, 0 0 120px #29CEF2;
  animation: flame-animation 2s linear infinite;
}

.flame:nth-child(2) {
  animation-delay: -1s;
  width: 20vw;
  height: 20vw;
}

.flame:nth-child(3) {
  animation-delay: -0.5s;
  width: 30vw;
  height: 30vw;
}

@keyframes flame-animation {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5, 1.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}
